/* Basic page style resets */
* {
  box-sizing: border-box;
}

body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Import fonts */

body {
    font-family: "Inter", sans-serif;
}

nav {
  margin: 30px;
}

#box-profile {
  background-image: url("https://cdn.glitch.global/62b052fc-bbde-40a8-a326-98567fcd681a/Copy%20of%20DSC_7339.jpeg?v=1727370356783");
  background-size: cover;
}
